<div class="container-fluid">
    <header>
        <h1>PolyBet App </h1>
        <p class="usernameClass" align="right">
            ${name.name}
        </p>
        <form action="/homepage2" method="GET">

            <button name="homepage" type="submit" class="homepageButton">homepage</button>

        </form>
        <form action="/logout" method="POST">
            <p align="right">
                <button name="logout" type="submit" class="logOut">logout</button>
            </p>
        </form>



    </header>

    <nav>

        <form action="addAdmin" method="GET" align = "left">
            <button class="tab tab2 button" type="submit">Add Admin</button>
        </form>


        <form action="editAdmin" method="GET" align = "left">
            <button class="tab tab2 button" type="submit">Edit Account</button>
        </form>


        <form action="addMatch" method="GET" align = "left">
            <button class="tab tab2 button" type="submit">Add Match</button>
        </form>

        <form action="closeMatch" method="GET" align = "left">
            <button class="tab tab2 button" type="submit">Close Match</button>
        </form>

        <form action="checkBalance" method="GET" align = "left">
            <button class="tab tab2 button" type="submit">Manage Funds</button>
        </form>





    </nav>





