<div class="container-fluid">
    <header>
        <h1>PolyBet App </h1>
        <p class="usernameClass" align="right">
            ${name.name}
        </p>
        <form action="/homepage" method="GET">

            <button name="homepage" type="submit" class="homepageButton">homepage</button>

        </form>
        <form action="/logout" method="POST">
            <p align="right">
            <button name="logout" type="submit" class="logOut">logout</button>
            </p>
        </form>



    </header>

    <nav>

        <form action="allMatches" method="GET" align = "left">
            <button class="tab tab2 button" type="submit">Matches</button>
        </form>

        <form action="confirmTicket" method="GET" >
            <button class="tab tab2 button" type="submit" align = "left">Ticket</button>
        </form>

        <form action="league" method="get" align="left">
            <button class="tab tab2 button" type="submit" >Standings</button>
        </form>

        <form action="history" method="get" align="left">
            <button class="tab tab2 button" type="submit" >History</button>
        </form>


        <form action="viewAccount" method="GET" align = "left">
            <button class="tab tab2 button" type="submit">View Account</button>
        </form>

        <form action="/editUser" method="GET" align = "left">
            <button class="tab tab2 button" type="submit">Edit Account</button>
        </form>

        <form action="deposit" method="GET" >
            <button class="tab tab2 button" type="submit" align = "left" >Add Funds</button>
        </form>

        <form action="withdraw" method="GET" >
            <button class="tab tab2 button" type="submit" align = "left">Withdraw Funds</button>
        </form>





    </nav>





