<style type="text/css">

    .error{
        display: none;
        margin-left: 10px;
    }

    .error_show{
        color: red;
        margin-left: 10px;
    }

    input.invalid, textarea.invalid{
        border: 2px solid red;
    }

    input.valid, textarea.valid{
        border: 2px solid green;
    }

    header, footer {
        padding: 1em;
        color: white;
        background-color: black;
        clear: left;
        text-align: center;
    }

    nav {
        float: left;
        max-width:400 px;
        margin: 0;
        padding: 1em;
    }
    body {

    }
    .usernameLog {
        width: 100px;
        margin-left: 20px;
        font-size:16px;
        padding: 10px 24px;
        background-color: black;
    }
    article {
        margin-left: 170px;
        border-left: 1px solid gray;
        padding: 1em;
        overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-align: justify;
    }


    .tab {
        background-color: #4CAF50;
        border: none;
        color: white;

        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
        border: 2px solid #4CAF50;
        display: block;
        width: 300px;
    }

    .subtab {
        width: 200px;
        margin-left: 70px;
        font-size:16px;
        padding: 10px 24px;
        border-radius: 12px;
        border: 2px solid #4CAF50;
        display: block;
    }



    .tab2:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

    }
    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .logOut {
        width: 60px;
        margin-left: 20px;
        font-size:16px;
        border: 2px solid #4CAF50;
        display: block;
        background-color: black;
        border-radius: 10%;
    }

    .homepageButton {

        width: 100px;
        font-size:16px;
        border: 2px solid #4CAF50;
        display: block;
        background-color: black;
        border-radius: 10%;
    }

    .usernameClass {

        margin-left: 15px;
        font-size:16px;
        padding: 0px 0px;
        display: block;
        background-color: black;
        border-radius: 10%;
    }

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button:hover span {
        padding-right: 25px;
    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }


    .css-serial {
        counter-reset: serial-number;  /* Set the serial number counter to 0 */
    }

    .css-serial td:first-child:before {
        counter-increment: serial-number;  /* Increment the serial number counter */
        content: counter(serial-number);  /* Display the counter */
    }


</style>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


